<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors collection</title>
</head>

<body>
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Books</th>
    </tr>
    <tr th:each="author:${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
        <td th:each="book:${author.books}">
            <span th:text="${book.title}"></span>
        </td>
    </tr>
</table>
</body>
</html>