<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
</head>

<body>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book:${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:each="author:${book.authors}">
            <span th:text="${author.firstName + ' ' + author.lastName}"></span>
        </td>
        <td th:text="${book.publisher.name}"> </td>
    </tr>
</table>
</body>
</html>